<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/default.css') }}">
		<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/monitor.css') }}">
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
		
		<script type="text/javascript">$SCRIPT_ROOT = {{request.script_root|tojson|safe}};</script>
		<script src="{{ url_for('static', filename='js/third-party/Chart/Chart.js') }}"></script>
		<script src="{{ url_for('static', filename='js/plot.js') }}"></script>
	</head>
	
	<body>
		<div id="AppContent">
		</div>
		
		
	</body>
	
	<script type="text/javascript">
		var charts_setup = false;
		
		
		function handleData(data){
			var app_content = $("#AppContent");
			
			
			for(entry in data){
				for(client_value in data[entry]){
					if (!charts_setup){
						app_content.append(generateChart(entry, client_value));
					}
					var chart_id = entry + "_" + client_value;
					addChartPoint(chart_id, data[entry][client_value]);
				}
			}
			
			if(!charts_setup){
				charts_setup = true;
			}
		}
		
		
		//time the auto update
		var update_time = 3 * 1000;
		
		(function callUpdate(){
			var xmlhttp = new XMLHttpRequest();
			xmlhttp.onreadystatechange = function(){
				if(xmlhttp.readyState == 4 && xmlhttp.status == 200){
					var data = JSON.parse(xmlhttp.responseText);
					handleData(data);
				}
			};
			xmlhttp.open("GET", "/update", true);
			xmlhttp.send();			
			
			setTimeout(callUpdate, update_time);
		})(); //define and call the function at the same time
		
	</script>
</html>
