<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/default.css') }}">
		<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/monitor.css') }}">
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
		
		<script type="text/javascript">$SCRIPT_ROOT = {{request.script_root|tojson|safe}};</script>
		<script src="{{ url_for('static', filename='js/third-party/Chart/Chart.js') }}"></script>
		<script src="{{ url_for('static', filename='js/plot.js') }}"></script>
	</head>
	
	<body>
		<div id="AppContent">
			<div class="app-item">
				<h3>CPU Usage (%)</h3>
				<canvas id="cpu_usage" width="200" height="200"></canvas>
			</div>
			
			<div class="app-item">
				<h3>CPU Temperature (C)</h3>
				<canvas id="cpu-temperature" width="200" height="200"></canvas>
			</div>
			
			<div class="app-item">
				<h3>GPU Usage (%)</h3>
				<canvas id="gpu-usage" width="200" height="200"></canvas>
			</div>
			
			<div class="app-item">
				<h3>GPU Temperature (C)</h3>
				<canvas id="gpu-temperature" width="200" height="200"></canvas>
			</div>
		</div>
		
		
	</body>
	
	<script type="text/javascript">
		addLineChart("cpu_usage", formatData([], []));
		
		
		//time the auto update
		var update_time = 3 * 1000;
		
		function handleData(data){
			var d = new Date(), e = new Date(d);
			var ms_since_midnight = e - d.setHours(0,0,0,0);
			
			var cpu_graph = charts[0].value;
			if(cpu_graph.datasets[0].points.length > 10){
				cpu_graph.removeData();
			}
			cpu_graph.addData([data.cpu.usage], "");
		}
		
		
		(function callUpdate(){
			var xmlhttp = new XMLHttpRequest();
			xmlhttp.onreadystatechange = function(){
				if(xmlhttp.readyState == 4 && xmlhttp.status == 200){
					var data = JSON.parse(xmlhttp.responseText);
					handleData(data);
				}
			};
			xmlhttp.open("GET", "/update", true);
			xmlhttp.send();			
			
			setTimeout(callUpdate, update_time);
		})(); //define and call the function at the same time
		
	</script>
</html>
